body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.inputItem{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0;
}

.listItems li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000 ;
  line-height: 20px;
}

.inputItem input{
  flex-grow: .6;
}

.listItems button {
  background-color: red;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

.inputItem button {
  background-color: rgb(23, 117, 35);
  color: #efeef3fd;
  padding: 10px 20px;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}

